# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Scala CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'sbt'
      # Optional: This step uploads information to the GitHub dependency graph and unblocking Dependabot alerts for the repository
    - name: Setup sbt launcher
      uses: sbt/setup-sbt@v1
    - name: Scalafix common
      run: sbt "common/scalafix --check"
    - name: Scalafix core
      run: sbt "core/scalafix --check"
    - name: Scalafix spark
      run: sbt "spark/scalafix --check"
    - name: Scalaformat common
      run: sbt "common/scalafmtCheck"
    - name: Scalaformat core
      run: sbt "core/scalafmtCheck"
    - name: Scalaformat spark
      run: sbt "spark/scalafmtCheck"
    - name: Run core tests
      run: sbt "core/test"
